@import url('https://fonts.googleapis.com/css?family=Electrolize');
img {
  width: 300px;
  height: 300px;
  object=fit: cover;
}
body {
  background: linear-gradient(
    160deg,
    #3a481c,
    #6a4c00,
    #a93a1a,
    #9d133d,
    #620d41,
    #63203f,
    #b3804e,
    #b8f6b2
  );
}

a {
  color: red;
}
.Lions-container {
  background: blue;
  width: 300px;
}
.lionpic {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.liontiTitle {
  text-align: center;
  padding: 5px;
}
 body{
   font-family: 'Electrolize', sans-serif;
  }
.header {
 background: blue; 
}